/* Daniel Railean 
In the whole page I will be using variables to ease workflow and also, 
later I want to implement a dark/ ligth mode to allow user to change preferred style,
it is easy to implement especially with css variables
A lot of item are scaled when hovered, some also change hue.

 import for fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;800&family=Dosis&family=Playfair+Display:wght@400;700&display=swap');

* {
  /* defining variables setting padding, margin and font-size */
  margin: 0;
  padding: 0;
  --transition-speed: 270ms;
  transition: all var(--transition-speed);
  --main-background: white; 
  --second-color: rgba(255, 0, 0, 0.9);
  --main-font: 'Dosis', sans-serif;
  --second-font: 'Dosis', sans-serif;
  --hue-rotation: hue-rotate(-7deg);
  --main-border: 2px solid var(--second-color);
  --second-border: 2px solid var(--main-background);
  font-size: 20px;
  --second-hue-rotation: hue-rotate(32deg);
  --main-radius: 25px;
  --second-radius: 15px;
  color: var(--main-background);
  --main-transform: scale(1.03);
}

/* setting background font and margin */
body {
  background-color: var(--main-background);
  font-family: var(--main-font);
  margin: 0;
  font-weight: 400;

}

a:hover {
  color: var(--main-background);
  text-decoration: none;
}

.footer {
  background: var(--main-background);
  height: 80px;
  color: #fff;
  padding: 20px;
  text-align: center;


}


.fa-github {
  color: var(--second-color);
  transform: scale(3);
  margin: 30px;
  margin-top: 10px;
}

.fa-github:hover {
  transform: scale(3.4);
}

.logo {
  width: 170px;
  padding: 0;

}

.logo:hover {
  transform: var(--main-transform);

}

.bg-dark {
  padding: 0 20px;
  background-color: var(--second-color) !important;
  filter: var(--hue-rotation);
  border-radius: 0 0 25px 25px;
  margin-bottom: 30px;
  border: var(--main-border);
  border-top: none;
  font-size: 25px;
}

.nav-item {
  margin: 1px 2px;
}

.nav-link {
  border-radius: 25px;
  padding: 5px 5px;
  text-align: center;
}

a.nav-link:hover {

  background-color: var(--main-background);
  transform: var(--main-transform);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--second-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--main-background);
  padding: 5px 10px;
  border: none;
}
/* looks strange , this classes I got from inspecting elements in google chrome, as it wont change */
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  background-color: var(--main-background);
  color: var(--second-color);

} 

p,
a,
h1,
h2,
h3 {
  color: var(--main-background);
  text-align: center;
}

.articles>div {
  margin-bottom: 10px;
  margin-left: -10px;
  border-radius: 30px;
}

.articles>div:first-child {
  margin-right: 10px;

}

.articles>div:hover {
  filter: var(--second-hue-rotation);
  transform: scale(1.03);
}

@media (min-width: 992px) {
  .col-xs-6>p {
    margin-top: 15px;
    margin-left: 20px;
  }
}

.news {
  font-family: var(--second-font);
  text-align: center;
  padding: 25px;
  border: var(--main-border);
  margin: 25px 0;
  border-radius: 25px;
  background-color: var(--second-color);
  filter: var(--hue-rotation);

}

h2 {
  margin-top: 10px;
}

.news>h2 {
  margin: 10px auto;
}

.news-tab {
  border: var(--second-border);
  border-radius: 20px;
  padding: 25px;
  margin: 15px 0;
  background-color: var(--second-color);
  color: var(--second-color);
}

.news-tab:hover {
  filter: var(--hue-rotation);
  transform: scale(1.03);

}

.carousel-item>img {
  border-radius: 25px;
  border: var(--second-border);
}

.carousel-container {
  margin: 0;
  padding: 0;
  border: var(--main-border);
  border-radius: 25px;
  background-color: var(--second-color);
  filter: var(--hue-rotation);
  padding: 25px;
  margin-bottom: 20px;
}

.carousel-container:hover {
  transform: var(--main-transform);
}
.about-carousel:hover{
  transform: scale(1.01);
}

.articles-container {
  margin: 0;
  padding: 20px;
  border: var(--main-border);
  border-radius: 25px;
  background-color: var(--second-color);
  filter: var(--hue-rotation);
}

/* added important tag to make it work, as some bootstrap styles are also marked as important */
.article-item-container {
  border: var(--second-border);
  border-radius: var(--main-radius);
  margin: 10px 10px;
  padding: 20px;
  height: 450px;

  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: rgba(255, 47, 47, 0.438) !important;

}

/* used this type of image integration as it provides better responsitiveness 
and some copyright feature from non advanced users */

.one-article {
  background: url(../images/article/article-0.jpg);

}

.two-article {
  background: url(../images/article/article-1.jpg);

}

.three-article {
  background: url(../images/article/article-2.jpg);

}

.four-article {
  background: url(../images/article/article-3.jpg);
}

.article-item-container>img {
  display: block;
  margin: 25px auto;
  border: var(--second-border);
  border-radius: var(--second-radius);

  width: 15vw;
}

.article-heading {
  border: var(--second-border);
  margin-top: 155px;
  padding: 25px 5px;
  border-radius: var(--second-radius);
  background-color: rgba(255, 0, 0, 0.637);
}

.article-content {
  margin: 15px 10px;
  margin-left: 0;
  background: var(--second-color);
  border: var(--main-border);
  padding: 20px;
  border-radius: var(--main-radius);
  filter: var(--hue-rotation);

}

.article-content>p {
  color: var(--main-background);
}

.contact-info {

  background-color: var(--second-color);
  border-radius: var(--main-radius);
  padding:20px;
  filter: var(--hue-rotation);
}

footer>p {
  color: var(--second-color);
}

footer>a {
  color: var(--second-color);
}