* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Dosis', sans-serif;
    margin: 0;
}
<<<<<<< HEAD

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 100, 0.5)), url("/images/weights.jpg");
    height: 600px;
=======
header
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 100, 0.5)), url("https://cdn2.coachmag.co.uk/sites/coachmag/files/styles/insert_main_wide_image/public/2018/05/free-weight-exercises-dumbbells.jpg?itok=p0JzJLQ3");
    min-height: 80vh;
>>>>>>> master
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-bar {
    background: rgb(0, 0, 0, 0.5);
    height: 70px;

}

.logo {
    margin: 10px 50px;
    height: 60px;
}

.menu {
    float: right;
    list-style: none;
    margin: 10px;
}

.menu li {
    display: inline-block;
    margin: 15px 5px;
}

.menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px 15px;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: auto;
}

.menu li a:hover {
    background: #fff;
    transition: .4s;
    color: #000;
}

.headline {
    display: block;
    text-align: center;
    margin: 150px auto;
    color: #fff;

}


.headline h1 {
    font-size: 7vw;

}

.headline h2 {
    font-size: 2vw;
    margin: 1vw;
}

.scrool {
    width: "60%";
    direction: "left";
    height: "100%";
}

.btn {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 10px;
    text-decoration: none;
    border: 1px solid #fff;
}

.btn1 {
    background: #fff;
    color: #000;
}

.btn2 {
    color: #fff;
}

.btn2:hover {
    background: #fff;
    color: #000;
    transition: .4s;
}

.btn3 {
    color: #fff
}

.btn3:hover {
    background: #fff;
    color: #000;
    transition: .4s;
}

.schedule {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.instructor {
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.footer {
    background: #000;
    height: 80px;
    color: #fff;
    padding: 20px;
    text-align: center;


}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
}

.flex-container > div {
    width: 250px;
    height: 200px;
    margin: 10px;

}

.img {
    width: 400px;
    height: 500px;
}

.txt {
    text-align: center;
    color: white;
}

.body {
    background-color: black;
    margin: 0px;
}

.description {
    background-color: aqua;
    font-family: sans-serif;
    font-size: 15px;
    min-width: 450px;
    max-width: inherit;
    text-align: left;
    padding: 5px;
    margin: 2px;

}

#p2 {
    width: 620px;
    height: 400px;
}

#p1 {
    width: 500px;
    height: 200px;
}

.tab {
    padding-top: 5vh;
    width: 96.5vw;
    height: 50vh;
    text-align: center;
    margin: auto;
    margin-bottom: 1vw;
    padding-bottom: 1vw;
}

tr,
td {
    padding: 0.1vw;
    border: 1px solid black;
    margin: 0;
    font-size: 1.4vw;

}

th {
    text-align: center;
    background-color: plum;
}

.hours {
    align-content: center;
    background-color: plum;
    height: 20px;
}

.mo,
.we,
.fr,
.su {
    align-content: center;
    background-color: aqua;
}

.tu,
.th,
.sa {
    align-content: center;
    background-color: lightcyan;
}

* {
    font-family: 'Dosis', sans-serif;
}

.headline-instructor {
    text-align: center;
    color: white;
    margin-top: 30px;
}
<<<<<<< HEAD
=======
.flex-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container div{
    width: 300px;
    color:white;
    margin:  20px;
}
.about{
    color:white;
    text-align: center;
    width: 50vw;
    margin: 30px auto;
}

>>>>>>> master
