@import url(../templates/nav-bar.css);

.instructor{
    
}
.anders{
    background: url(../images/Anders.jpg);
    height: 300px;
    width: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;
}
.lucas{
    background: url(../images/Lucas.jpg);
    height: 300px;
    width: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;
}
.dimitrian{
    background: url(../images/Dimitrian.jpg);
    height: 300px;
    width: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;
}
.daniel{
    background: url(../images/Daniel.jpg);
    height: 300px;
    width: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;
}
@media (min-width: 576px) and (max-width: 767.98px) {

    .anders{
        width: 95vw;
        height: 95vw;

    }
}

