/*@import url(../templates/nav-bar.css);*/
* .body {
    font-family: sans-serif;
}

.carousel-inner img {
    /* customizing the boostarp carousel*/
    width: 100%;
    height: 100%;
}

/*customization of the spacing between elemens*/
.mx-auto {
    width: 100%;
    text-align: center;
    padding: 3%;
    background-color: aliceblue;
}

/*text color for the navbar*/
.nav-link {
    color: white;
}

/*text color for the nav bar*/
.nav-text {
    color: white;
}

/*border color for the card class*/
.card {
    border-color: black;
}

/* a change of the class background when screen is smaller than 540px*/
@media (min-width: 540px) {
    .mx-auto {
        background-color: transparent;
    }
}

/*styling of the card elements*/
.row-classes {
    align-content: center;
    width: 100%;
    border-color: black;
}

.footer {
    text-align: center;

}
