@import url(../templates/nav-bar.css);
.carousel-inner img{
    /* customizing the boostarp carousel(Constantina Tripon) */
    width: 100%;
    height: 100%;
}
/*I created a background color for the border that hold the buttons*/
.border{
    background-color: black;
}
/* customizing the images contained inside the card elements within the 4 pages with classes*/
 /*customization of the spacing between elemens*/
.mx-auto{                    
    width: 100%;
    text-align: center;
    padding: 3%;
}
/* customization to the text inside the card element(Constantina Tripon)*/
.text {
  background-color: transparent;
  color: white;
  font-size: 200%;
  text-align: center;
  padding: 3% 4%;
}
/*customization of the text when hover on an image from the card element (Constantina Tripon)*/
.card-text{
    text-align: center;
    background-color: transparent;
}
.card-title{
    text-align: center;
}
/*Styling applied to the card element on the classes page*/
.card {
    border-color: black;
}

